// Block mixin
@mixin button() {
    @include -button-base();

    &__inner {
        @include -button-inner();
    }
}

// Compound mixins
@mixin -button-base() {
    @include clear-text-decoration();

    border-radius: 2px;
    white-space: nowrap;

    min-width: 140px !important;
    // font-size: 16px !important;

    display: inline-block;
    cursor: pointer;

    // text-transform: none !important;
}

@mixin -button-inner() {
    position: relative; // IE hack
}