- var title = 'Транснефть - Западная Сибирь';
doctype html
html
    include partials/_head.pug

    body.page
        | <!-- inject:svg --><!-- endinject -->
        
        div.app(id="root")
        
        // Footer
        include partials/_footer.pug